altgraph==0.17.5
blinker==1.9.0
click==8.3.1
colorama==0.4.6
flash==1.0.3
Flask==3.1.2
flask-cors==6.0.2
gunicorn==25.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pefile==2024.8.26
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pywin32-ctypes==0.2.3
setuptools==80.10.2
Werkzeug==3.1.5
